<!DOCTYPE html>
<html>
  <head>
    <title>Stripe Connect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
    body{background-color: #e5e5e5;}
    div.container { position: relative;}
    div.row { position: absolute; margin:30px 50px 50px 50px;}
    div.stripe-field { 
        position:absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        }
    div.stripe-field .stripe-connect-btn { text-align: center;}
    </style>
  </head>
  <body>
	   <div class="container">
		    <div class="row">
		      <div class="span4">
		        <div class="stripe-field">
		          <h2>Stripe Connect</h2>
    		        <p> In order to use Stripe payments as your payment processor, you'll need to connect and create a Stripe account. You can do that easily through this Crowdfunding platform.</p>
                    <p> If you don't have a Stripe account, you'll be prompted to create one</p>
                    <p class="stripe-connect-btn">
                        <a href="<%= @client.auth_code.authorize_url(:scope => 'read_write', :stripe_landing => 'register') %>">
                            <img src="/assets/auth/stripe_blue.png">
                        </a>
                    </p>
				</stripe-field>
				<script src="http://code.jquery.com/jquery.js"></script>
				<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
			    </div>
		    </div>
	   </div>
  </body>
</html>