<!DOCTYPE html>
<html>
  <head>
    <title>Stripe Payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
    body{background-color: #e5e5e5;}
    div.container { position: relative;}
    div.row { position: absolute; margin:50px;}
    div.stripe-field { 
        position:absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        }
    </style>
  </head>
  <body>
	   <div class="container">
		    <div class="row">
		      <div class="span4">
		        <div class="stripe-field">
		        <h2>Crowdfunding Payments with Stripe</h2>
		        <p>You've chosen to contribute using a credit card. Stripe payments for customers in US and Canada allow you to use your Visa, Mastercard or Amex. Credit Card information is not stored on the crowdfunding website, and is safely stored on Stripe's servers. For more info visit <a href="http://stripe.com"><b>STRIPE PAYMENTS</b></a></p>
				    <%= form_tag payment_pay_stripe_path(params[:id]) do %>
						  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="<%= @backer.project.stripe_key %>" data-label="Contribute With Stripe"></script>
						<% end %>
						</stripe-field>
				    <script src="http://code.jquery.com/jquery.js"></script>
				    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
			    </div>
		    </div>
	   </div>
  </body>
</html>