.bootstrap-twitter
  / Button to trigger modal
  %a.btn{"data-toggle" => "modal", :href => "#donateModal", :role => "button"} Click to Donate
  #donateModal.modal.hide{:role => "dialog"}
    %form.form-horizontal{:action => "pay", :method => "post"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3 Donate Form
      .modal-body
        .control-group
          %label.control-label{:for => "first-name"} First Name
          .controls
            %input#first-name{:autocomplete => "name", :name => "first-name", :reqired => "", :type => "text"}/
        .control-group
          %label.control-label{:for => "last-name"} Last Name
          .controls
            %input#last-name{:name => "last-name", :reqired => "", :type => "text", "x-autocompletetype" => "name-full"}/
        .control-group
          %label.control-label{:for => "email"} Email
          .controls
            .input-prepend
              %span.add-on
                %i.icon-envelope
              %input#email{:name => "email", :reqired => "", :type => "email", "x-autocompletetype" => "email"}/
        .control-group
          %label.control-label{:for => "amount"} Donation Amount
          .controls
            .input-prepend
              %span.add-on $
              %input#amount.input-mini{:name => "amount", :type => "number"}/
        .control-group
          %label.control-label{:for => "card"} Payment Information
          #stripe-button-holder.controls
            / Stripe Button
            %script.stripe-button{"data-key" => "pk_0TofLEX9n7baBwirc2xo1dHtDm8e0", "data-label" => "Add Card", "data-panel-label" => "Save", :src => "https://button.stripe.com/v1/button.js"}
        .control-group
          %label.control-label{:for => "anonymous"} Privacy
          .controls
            %label.checkbox{"data-content" => "Tick this box and we will not show your name in the list of pledgers", "data-placement" => "top", :rel => "popover", :title => "Anonymous Donation"}
              %input#anonymous{:name => "anonymous", :type => "checkbox"}/
              Keep my donation anonymous
        .control-group
          .controls
            %label.checkbox
              %input#tos-agreed{:name => "tos-agreed", :required => "", :type => "checkbox"}/
              I Agree to the
              %a{"data-toggle" => "modal", :href => "#tos-modal"} Terms of Service
        %fieldset
          %legend.s1 Optional Information
          %div
          .control-group
            %label.control-label{:for => "company"} Company
            .controls
              %input#company{:name => "company", :type => "text", "x-autocompletetype" => "organization"}/
          .control-group
            %label.control-label{:for => "website"} Website
            .controls
              .input-prepend
                %span.add-on
                  %i.icon-globe
                %input#website{:name => "website", :type => "url", "x-autocompletetype" => "url"}/
          .control-group
            %label.control-label{:for => "phone"} Phone
            .controls
              .input-prepend
                %span.add-on
                  %i.icon-phone
                %input#phone.input-medium{:name => "phone", :type => "tel", "x-autocompletetype" => "phone-full"}/
          .control-group
            %label.control-label{:for => "referrer"}
              %small How did you hear about us?
            .controls
              %input#referrer{:name => "referrer", :placeholder => "Google, Friend...", :type => "text"}/
          .control-group
            %label.control-label{:for => "notes"} Notes / Comments
            .controls
              %textarea#notes.input-xlarge{:name => "notes", :placeholder => "Any message you may have for us.", :rows => "2"}
      .modal-footer
        .pull-right
          %button.btn.btn-success.btn-large Send Pledge