<!-- Button to trigger modal -->
<a href="#donateModal" role="button" class="btn" data-toggle="modal">Click to Donate</a>
 
<div id="donateModal" class="modal hide" role="dialog">
    <form action="payment/stripe/pay" method="post" class="form-horizontal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Donate Form</h3>
      </div>
      <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="first-name">First Name</label>
        <div class="controls">
          <input id="first-name" name="first-name" type="text" reqired autocomplete="name" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="last-name">Last Name</label>
        <div class="controls">
          <input id="last-name" name="last-name" type="text" reqired x-autocompletetype="name-full" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span><input id="email" name="email" type="email" reqired x-autocompletetype="email" />
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="amount">Donation Amount</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">$</span><input id="amount" name="amount" type="number" class="input-mini" />
          </div>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="card">Payment Information</label>
        <div class="controls" id="stripe-button-holder">
          <!-- Stripe Button -->
          <script src="https://button.stripe.com/v1/button.js" class="stripe-button"
            data-key="pk_cfS4TB2HbaVyabCWqYObX9vE0DY9h"
            data-label="Add Card"
            data-panel-label="Save"
          ></script>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="anonymous">Privacy</label>
        <div class="controls">
          <label class="checkbox" rel="popover" data-placement="top" data-content="Tick this box and we will not show your name in the list of pledgers" title="Anonymous Donation">
            <input id="anonymous" name="anonymous" type="checkbox" />
            Keep my donation anonymous
          </label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input id="tos-agreed" name="tos-agreed" type="checkbox" required />
            I Agree to the <a href="#tos-modal" data-toggle="modal">Terms of Service</a>
          </label>
        </div>
      </div>

      <fieldset>
        <legend class="s1">Optional Information</legend>
        <div></div>

        <div class="control-group">
          <label class="control-label" for="company">Company</label>
          <div class="controls">
            <input id="company" name="company" type="text" x-autocompletetype="organization" />
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="website">Website</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-globe"></i></span><input id="website" name="website" type="url" x-autocompletetype="url" />
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="phone">Phone</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-phone"></i></span><input id="phone" name="phone" type="tel" class="input-medium" x-autocompletetype="phone-full" />
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="referrer"><small>How did you hear about us?</small></label>
          <div class="controls">
            <input id="referrer" name="referrer" type="text" placeholder="Google, Friend..." />
          </div>
        </div>

          <div class="control-group">
          <label class="control-label" for="notes">Notes / Comments</label>
          <div class="controls">
            <textarea id="notes" name="notes" placeholder="Any message you may have for us." class="input-xlarge" rows="2"></textarea>
          </div>
        </div>


      </fieldset>
      </div>
    <div class="modal-footer">
      <div class="pull-right">
        <button class="btn btn-success btn-large">Send Pledge</button>
      </div>
    </div>
    </form>
</div>
